* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.text-primary {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}


.text-secondary {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* Shared style */
img.responsive-image {
    width: 100%;   
    height: auto;      
    max-width: 1200px;  
    display: block;
    margin: 0 auto;
}

.col-primary{
    color: #252432; 
}

.col-secondary{
    color: #E95A08;
}

.col-sub{
    color: #000000;
    opacity: 50%;
}

.col-s{
    color: #8987A1;
}

.col-b{
    color: #000000;
}
.col-product{
    color: #111111;
}
.col-footer{
    color:rgba(107, 114, 128, 1);
}

.d-flex{
    display: flex;
}

.btn-primary{
    color:#FFFFFF;
    background-color: #E95A08;
    font-size: 1rem;
    font-weight: 600;
    text-align: center;
    width: 100%;
    height: 50px;
    border: none;
    cursor: pointer;
}

.btn-primary:hover{
    background-color: #8987A1;
}
/* Navbar related style */
.navbar{
    justify-content: space-between;
    align-items: center;
    margin: 30px 120px 150px;
    
}

.navbar ul li{
    list-style: none;
    margin-right: 48px;
    

}

.nav-links a{
    text-decoration: none;
    font-size: 1rem;
    
}


/* Hero-section related style */
.hero-section{
    margin: 120px 150px;
}

.hero-title h3{
    font-size: 4rem;
    margin-bottom: 13px;
    white-space: nowrap;
}

.hero-title p{
    font-size: 1.5rem;
}


/* Our-plants section */

.container{
    display: grid;
    grid-template-columns: repeat(4, 270px);
    gap: 30px 20px;
}


.our-plants{
    max-width: 1140px;
    margin: 0 auto;
}
.plant{
    text-align: center;
}

.plant h2{
    font-size: 3rem;
    font-weight: 700;
}

.plant p{
    font-size: 1.3rem;
    margin: 16px 126px 49px;
}

.plant-container{
    max-width: 270px;
    text-align: center;
}

.plant-container .head{
    font-size: 1.3rem;
    font-weight: 400;
    margin-top: 30px;
}

.plant-container p{
    font-size: 1.3rem;
    font-weight: 700;
    margin-bottom: 15px;
    
}

/* Flower-shop section */

.flower-lover{
    margin: 210px 150px 130px;
}

.flower-text{ 
    padding: 38px 60px 0 38px;
}

.flower{
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 20px;
}

.flower-list li{
    font-size: 1.1rem;
    padding: 5px;
}

.trusted{
    position: relative;
    width: 286px;
    top: -750px;
    left: 350px;
    z-index: 1;
}

/* Responsive (USED MEDIA QUERY) */

@media screen and (max-width:576px) {
    .navbar{
        margin: 20px 17px 21px 15px;
    }

    .nav-item{
        display: none;
        justify-content: space-between;
    }

    .hero-section{
        flex-direction: column-reverse;
        margin: 0;
    }

    .hero-img{
        margin: 21px 0 0 28px;
    }

    .hero-img img{
        max-width: 100%;
    }

    .hero-title{
        margin: 28px 16px 65px;
    }

    .hero-title h3{
        font-size: 1.5rem;
        width: 70%;
    }
    .hero-title p{
        font-size: 0.875rem;
    }

    .container{
    display: grid;
    grid-template-columns: repeat(2, 171px);
    justify-content: space-evenly; 
    gap: 30px 20px;
    }

    .plant h2, .plant p{
        margin: 0 auto;
    }

    .plant h2{
        font-size: 1.3rem;
        font-weight: 700;
        margin-bottom: 16px;
    }

    .plant p{
        font-size: 0.8rem;
        margin: 0 28px 28px;       
    }

    .plant-container{
        max-width: 270px;
        text-align: center;
    }

    .plant-container .head{
        font-size: 1rem;
    }

    .plant-container p{
        font-size: 1rem;

    } 

    .flower-lover{
        flex-direction: column;
        margin: 41px 17px 15px 143px;
        margin: 0 auto;
    }

    .trusted{
        display: none;
    }

    .img-flower img{
        width: 100%;
        padding: 41px 20px 18px;

        
    }
    .flower{
        font-size: 1.3rem;
    }
    .flower-list li{
        font-size: 0.8rem;
    }



}